/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 100px;
    padding-bottom: 20px;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-expand {
    flex: 1;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.form-control {
    color: #4d4d44 !important; /* update later to override all states of form-control text */
}

textarea.tall {
    min-height: 100px;
}

.form-text {
    color: #7b8a8b;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-style: italic;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Button styling */
.btn i {
    padding-right: 7px;
}

.btn {
    margin-bottom: 10px;
}

.button-list .btn {
    margin-right: 10px;
}

/* Table styling */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fafafa;
}